{
    debug
}

:80 {
	  root /var/www/
    @php path /*.php /server/*.php
    handle @php {
    	php_fastcgi :9000 {
            root /var/www
        }
    }

    @assets path /assets/*.* /assets/*/*.*
    handle @assets {
        file_server
    }
    reverse_proxy regexr:3000
}
