{
    debug
}

:80 {
	root /var/www/
	encode gzip
    handle_path /server/* {
    	php_fastcgi :9000 {
            root /var/www
        }
    }
    handle /assets/* {
        file_server
    }
    reverse_proxy regexr:3000
}
